@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Estilo general para secciones */
section {
  min-height: 100vh;
  padding: 3rem 2rem;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

.glow-overlay {
  --glow-size: 25rem;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--glow-opacity, 0);
  mask: radial-gradient(circle farthest-corner at var(--mouse-x) var(--mouse-y), rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 60%);
}
