@import "tailwindcss";
body {
  font-family: sans-serif;
  background: white;
  color: #111;
}

@font-face {
  font-family: 'Neue Kabel';
  src: url('/fonts/NeueKabel-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

/* Estilo general para secciones */
section {
  min-height: 100vh;
  padding: 4rem 2rem;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}