@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Estilo general para secciones */
section {
  min-height: 100vh;
  padding: 3rem 2rem;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}